<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mconnect_General::general" title="M-Connect Media" module="Mconnect_General" sortOrder="30" resource="Mconnect_General::general" />
    </menu>
</config>