<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Magiccart\Shopbrand\Block\Adminhtml\Brand\Edit\Tab\Form" type="Elsnertech\Brandcustomization\Block\Adminhtml\Brand\Edit\Tab\Form" />
   <preference for="Magiccart\Shopbrand\Controller\Adminhtml\Brand\Save" type="Elsnertech\Brandcustomization\Controller\Adminhtml\Brand\Save" />
</config>