<select multiple class="admin__control-multiselect" data-bind="
    attr: {
        name: inputName,
        id: uid,
        size: size ? size : '6',
        disabled: disabled,
        'aria-describedby': noticeId,
        placeholder: placeholder
    },
    hasFocus: focused,
    selectedOptions: value,
    optionsValue: 'value',
    optionsText: 'label',
    foreach: options"
>
    <option data-bind="
        text: label,
        value: value"
    ></option>
</select>
<!-- ko if: afterRender() --><!-- /ko -->
