<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
		<resources>
			<resource id="Magento_Backend::admin">				
				<resource id="Mconnect_General::general" title="Mconect">
                    <resource id="Mconnect_Iconlib::iconlib_manager" title="Icon Library">
                        <resource id="Mconnect_Iconlib::icon_head" title="Manage Icon Library"></resource> 
						<resource id="Mconnect_Iconlib::icon_head_child" title="Icon Library Setting"></resource>
                    </resource>
                </resource>
				
				<resource id="Magento_Backend::stores">					
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Mconnect_Iconlib::Config_Iconlib" title="Icon Library Setting" />
						</resource>
					</resource>
				</resource>	
				
			</resource>
		</resources>		
    </acl>
</config>