<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mconnect\Iconlib\Block\Adminhtml\Iconlib\Edit\Tab\Iconlib" type="Elsnertech\Mconnecticon\Block\Adminhtml\Iconlib\Edit\Tab\FormIconlib" />

</config>
