<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="storeprice" id="storeprice">
            <module name="Elsnertech_StorePrice"/>
        </route>
    </router>
</config>